body{
background-color: rgb(41, 38, 38);
font-family: sans-serif;
}

.container-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

h4{
    color: white;
}

.cart-title{
    color: white;
}


